%ya-turbo-frame#calendar-item-list
  %h3= @interviewer.name

  = form_tag interviewer_path(@interviewer), method: :get, 'd-state': '{}', 'd-ref': 'form' do
    = select_tag "date", options_for_select(date_selector_options, @date.strftime("%F")), 'd-change': 'this.refs.form.submit()'

  .row
    - calendar_item_candidate_list(@date, @interviewer).each_with_index do |item, index|
      .col-3
        = render 'manage/calendar_items/calendar_item', item: item, index: index
